<h1><%= @bulk_discount.id %> Bulk Discounts</h1>

<div id="discount-<%=@bulk_discount.id%>">
    <ul>
        <li>Discount: <%= "#{@bulk_discount.percentage_discount}%" %> - <%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount)%></li>
        <li>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></li>
    </ul>
</div>
